<div class="footer">
    <div class="footer-content">
        <div class="left-content">
            <span class="oi oi-person"></span> | Terms - 
        </div>
        <div class="right-content">
            <span class="copyright">© CAT 2023</span>
        </div>
    </div>
</div>

@code {

}
