@using CAT_App.Data;
@inject NavigationManager NavigationManager

<div class="footer flex-container">
    <div>
        © CAT 2023
    </div>
	
	<div>
		<button class="oi oi-person footer-button" @onclick="NavigateToAccount"></button>
		<button class="@(LoggedIn()? "d-show" : "d-none") footer-button" @onclick="Logout">Logout</button>
	</div>
</div>

@code {
	private void NavigateToAccount()
	{
		if (User.LoggedIn)
		{
			NavigationManager.NavigateTo("account");
		}
		else
		{
			NavigationManager.NavigateTo("login");
		}
	}

	private bool LoggedIn()
	{
		return User.LoggedIn;
	}

	private void Logout()
	{
		User.Logout();
		NavigationManager.NavigateTo("", true);
	}
}
