.flex-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 12px;
}

#account {
    background-color: transparent;
    padding: 4px;
    border-radius: 50px;
}