@using CAT_App.Data;
@inject NavigationManager NavigationManager

<div class="footer flex-container">
    <div>
        © CAT 2023
    </div>
	
	<div>
		<button id="account" class="oi oi-person" @onclick="NavigateToLogin"></button>
		<a class="@(LoggedIn()? "d-show" : "d-none")" href="">Logout</a>
	</div>
</div>

@code {
	private void NavigateToLogin()
	{
		NavigationManager.NavigateTo("login");
	}

	private bool LoggedIn()
	{
		return User.LoggedIn;
	}
}
