.footer {
    padding: 0px 12px;
    background-image: linear-gradient(0deg, #0a5f2a, #c4dc84);
    height: 3.5rem;
}

#account {
    background-color: transparent;
    padding: 4px;
    border: none;
}

a {
    color: black;
    margin-left: 4px;
    text-decoration: none;
}