.navbar-toggler-icon {
    background-color: black;
    position: relative;
    width: 24px;
    height: 2px;
    background-image: none;
}

    .navbar-toggler-icon::before,
    .navbar-toggler-icon::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 2px;
        background-color: black;
    }

    .navbar-toggler-icon::before {
        top: -10px;
    }

    .navbar-toggler-icon::after {
        bottom: -10px;
    }

.navbar-toggler:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 0 2px black;
}


.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.0);
    border-radius: 10px;
}

.top-row {
    font-size: 1.4rem;
    height: 3.5rem;
}

.navbar-brand {
    height: 46px;
    width: 40px;
    margin-left: -4px;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #000000;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item ::deep a.active {
            background-color: rgba(255,255,255,0.25);
            color: black;
        }

        .nav-item ::deep a:hover {
            background-color: rgba(255,255,255,0.1);
            color: black;
        }

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        display: block;
    }
}
