<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <span class="oi oi-briefcase" aria-hidden="true"></span>
        Chatham Area Transit
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="routes">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span> Routes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fares">
                <span class="oi oi-credit-card" aria-hidden="true"></span> Fares
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="livemap">
                <span class="oi oi-map" aria-hidden="true"></span> LiveMap
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
