@page "/"

@using CAT_App.Data;
@inject NavigationManager NavigationManager

<img src="/images/fountain.jpg" />
@if (news == null)
{
	<p>Error! No available news.</p>
}
else
{
	<p />
	<div class="flex-container">
		<button @onclick="NavigateToAccount">Account</button>
		<button @onclick="NavigateToLiveMap">LiveMap</button>
	</div>
	<p />
	<h4>Recent News</h4>

	<table class="table">
		<tbody>
			@foreach (var item in news)
			{
				<tr>
					<td>@item.ToString()</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	private NewsItem[] news = NewsItemService.news;

	private void NavigateToAccount()
	{
		if (User.LoggedIn)
		{
			NavigationManager.NavigateTo("account");
		}
		else
		{
			NavigationManager.NavigateTo("login");
		}
	}

	private void NavigateToLiveMap()
	{
		NavigationManager.NavigateTo("livemap");
	}
}