@page "/livemap"
@inject IJSRuntime JSRuntime
@inject GoogleMapsService MapsService

<h3>Live Map</h3>

<div id="map" style="width: 100%; height: 600px;"></div>

@code {
    private List<Coordinate> routeCoordinates;
    private bool isMapInitialized = false;
    private static readonly string googleMapsApiKey = "[API Key]";
    private bool mapInitializationAttempted = false;


    protected override async Task OnInitializedAsync()
    {

        string origin = "32.082121526463816,-81.09554662679852";
        string destination = "32.07412809417009,-81.09132416440042";

        routeCoordinates = await MapsService.ExtractCoordinatesAsync(origin, destination);
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!mapInitializationAttempted && routeCoordinates != null && routeCoordinates.Any())
        {
            mapInitializationAttempted = true;
            await InitializeMapAndRoute();
        }
    }


    private async Task InitializeMapAndRoute()
    {
        var defaultCoordinates = routeCoordinates.FirstOrDefault();

        await JSRuntime.InvokeVoidAsync("initializeMap", googleMapsApiKey, defaultCoordinates);
        await JSRuntime.InvokeVoidAsync("initializeMarker", defaultCoordinates);

        await JSRuntime.InvokeVoidAsync("loadRoute", routeCoordinates);
    }
}
