@page "/signup"

@inject NavigationManager NavigationManager
@using CAT_App.Data;

<img src="/images/fountain.jpg" />
<p />
<h4>Create Account</h4>
<p />
<form class="login-form">
    <label for="username">Username: </label>
    <br />
    <input id="username" type="text" placeholder="username" @bind-value="username" />
    <p />
    <label for="password">Password: </label>
    <br />
    <input id="password" type="password" placeholder="password" @bind-value="password" />
    <p />
    <label for="passwordRepeate">Retype Password: </label>
    <br />
    <input id="passwordRepeat" type="password" placeholder="retype password" @bind-value="passwordRepeat" />
    <p />
    <div class="flex-container">
        <input type="button" value="Create Account" @onclick="RegisterUser" />
        <input type="button" value="Back" @onclick="NavigateToLogin" />
    </div>
</form>

@code {
    string username, password, passwordRepeat;

    private void RegisterUser()
    {
        // Do all the registration stuff
        if (username != null && !username.Equals("") &&
            password != null && !password.Equals("") &&
            passwordRepeat != null && !passwordRepeat.Equals(""))
        {
            User.Register(username, password, passwordRepeat);
        }


        // Then nav to login so the user can login
        bool signUpSuccess = false;
        if (signUpSuccess)
        {
            NavigateToLogin();
        }
        else
        {
            // Figure out popup for failure

        }
    }

    private void NavigateToLogin()
    {
        NavigationManager.NavigateTo("/login");
    }
}
